body {
    margin: 0;
    padding: 0;
    background: url('../images/signup_background.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    font-family: sans-serif;

    width: 100vw;
    height: 100vh;
}
.navbar {
    
    background: rgba(7, 7, 7, 0.2);
    overflow: hidden;
}
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}
.navbar p {
    color: #fff;
    font-size: 25px;
}
.navbar a:hover {
    
}

.login-container {
    float:right;
}
.navbar img{
    float: left;
    height: 60px;
    padding: -30px;
}
.login-container a {
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*User image*/
.user {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    color: #7e7c87;

}