* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

@keyframes gradientWave {

    0%,
    100% {
        background-position: 100% 0;
    }

    50% {
        background-position: 0 0;
    }
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(45deg,
            rgba(86, 86, 255) 0%,
            rgba(103, 39, 255, 0.63) 50%,
            rgba(86, 86, 255) 100%);
    background-size: 200% 100%;
    animation: gradientWave 20s linear infinite;
}

.navbar {
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 35px 0;
    justify-content: flex-start;
}

.logo {
    width: 60px;
    height: auto;
    cursor: pointer;
    filter: brightness(100%);
}

.app-name {
    color: #fff;
    font-size: 34px;
    line-height: 1.5;
    margin-left: 15px;
}

.navbar ul {
    margin-left: auto;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #6727ffa1;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.welcome {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.welcome h1 {
    font-size: 70px;
    margin-top: 80px;
}

.welcome p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.get-started {
    background: #6727ffa1;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span {
    width: 100%;
}

button:hover {
    background: transparent;
    padding: 15px 0;
}

.video-background {
    background-image: url('../static/images/video_background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

.video-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

video#video {
    width: 70vw;
    max-width: 900px;
    height: auto;
    border-radius: 15px;
}

.video-background p {
    margin-top: 20px;
    font-size: 1.5em;
    color: #FFFFFF;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.navbar {
    animation: fadeIn 0.75s;
    animation-fill-mode: forwards;
}

@keyframes fadeInFromLeft {
    from {
        opacity: 0;
        transform: translate(-50px, -50%);
    }

    to {
        opacity: 1;
        transform: translate(0, -50%);
    }
}

.welcome {
    animation: fadeInFromLeft 0.75s ease-out forwards;
}

.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #6727ffa1;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 3s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.calculate-results {
    background: #6727ffa1;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

.video-fade-in {
    animation: fadeIn 1s;
}

.welcome-text {
    animation: fadeIn 1.5s;
}

.button-fade-in {
    animation: fadeIn 1s;
}

button#calculateButton {
    background-color: transparent;
    transition: background-color 0.5s ease, transform 0.3s ease;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
}

.results-background {
    background-image: url('../static/images/results_background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

@keyframes glowing-effect {
    0% {
        filter: drop-shadow(0 0 0 rgba(255, 255, 255, 0));
    }

    50% {
        filter: drop-shadow(0 0 20px rgba(255, 255, 255, 1));
    }

    100% {
        filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.7));
    }
}

@keyframes resizing-effect {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.card-container {
    position: relative;
    width: 88%;
    animation: glowing-effect 3s 1 3s, resizing-effect 3.5s 1 3s;
    animation-fill-mode: forwards;
    display: inline-block;
    transform-origin: center;
}

.results-card {
    width: 100%;
    display: block;
}

.results-content {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-image,
.results-content p {
    opacity: 0;
}

.profile-image {
    position: absolute;
    width: 25%;
    margin-top: -1400px;
    animation: fadeIn 1s ease-out 2s forwards;
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.results-content .name-text {
    font-family: 'Rubik Bold', sans-serif;
    position: absolue;
    top: 60%;
    opacity: 0;
    animation: fadeInRight 1s ease-out 2.5s forwards;
    margin-top: -1050px;
    font-size: 54px;
    color: white;
}

.results-content .percent-text {
    font-family: 'Rubik Black', sans-serif;
    position: absolute;
    top: 70%;
    opacity: 0;
    animation: fadeInRight 1s ease-out 3s forwards;
    margin-top: -440px;
    font-size: 70px;
    color: white;
}

.percent-text .additional-text {
    font-family: 'Rubik Black', sans-serif;
    display: block;
    font-size: 50px;
    padding-left: 10px;
}

.results-content .pickup-line {
    font-family: 'Rubik Bold Italic', sans-serif;
    text-align: center;
    position: absolute;
    opacity: 0;
    animation: fadeInRight 1s ease-out 3.5s forwards;
    margin-top: -350px;
    font-size: 40px;
    color: white;
}

@font-face {
    font-family: 'Rubik Black';
    src: url('../static/fonts/rubik-black.ttf') format('truetype');
}

@font-face {
    font-family: 'Rubik Bold';
    src: url('../static/fonts/rubik-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Rubik Bold Italic';
    src: url('../static/fonts/rubik-bolditalic.ttf') format('truetype');
}