* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

@keyframes gradientWave {

    0%,
    100% {
        background-position: 100% 0;
    }

    50% {
        background-position: 0 0;
    }
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(45deg,
            rgba(86, 86, 255) 0%,
            rgba(103, 39, 255, 0.63) 50%,
            rgba(86, 86, 255) 100%);
    background-size: 200% 100%;
    animation: gradientWave 20s linear infinite;
}

.navbar {
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 35px 0;
    justify-content: flex-start;
}

.logo {
    width: 60px;
    height: auto;
    cursor: pointer;
    filter: brightness(100%);
}

.app-name {
    color: #fff;
    font-size: 34px;
    line-height: 1.5;
    margin-left: 15px;
}

.navbar ul {
    margin-left: auto;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #6727ffa1;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.welcome {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.welcome h1 {
    font-size: 70px;
    margin-top: 80px;
}

.welcome p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.get-started {
    background: #6727ffa1;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span {
    width: 100%;
}

button:hover {
    background: transparent;
    padding: 15px 0;
}

.video-background {
    background-image: url('../static/video_background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

.video-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

video#video {
    width: 70vw;
    max-width: 900px;
    height: auto;
    border-radius: 15px;
}

.video-background p {
    margin-top: 20px;
    font-size: 1.5em;
    color: #FFFFFF;
}

