<!DOCTYPE html>
<html>

<head>
    <title>Soul Finders | AI Powered Matchmaking</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="banner">
        <div class="navbar">
            <img src="{{ url_for('static', filename='logo.png') }}" class="logo">
            <span class="app-name">Soul Finders</span>
            <ul>
                <li><a href="{{ url_for('signup') }}">Signup</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </div>
        <div class="welcome">
            <h1>Unlock Love's Secrets</h1>
            <p>Where Hearts Connect and Algorithms Perfect the Art of Matchmaking.</p>
            <div>
                <a href="{{ url_for('signup') }}">
                    <button type="button"><span class="get-started"></span>Get Started</button>
                </a>
            </div>
        </div>
    </div>
</body>

</html>