<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type= "text/css" href="../static/css/profile.css">
   
</head>
<body>
    <div class="navbar">
        <div class="logo">
        <img src="../static/images/logo.png" alt = "companys logo">
        <span>Soul Finders</span>
        </div>
        <a href="#Home">Home</a>
        <a href="#Result">Result</a>
        <a href="#Profile">Profile</a>
    

    <div class="login-container">
        <a href="#signout">SIGN OUT</a>
    </div>
    </div>
    

    
    <div class="container">
        <div class="profile-picture-container">
         <div class="profile-picture">
                <img src="../static/images/avatar_placeholder1.jpg" alt="profile-picture" id = "profilePic">
                </div>
               <!-- <div class="upload-text"> Upload Picture</div> -->
               <label for="input-file">Upload Picture</label>
               <input type="file" accept="image/jpg, image/png, image/jpeg" id="input-file" id="input-file">
         </div>
        <form id="editProfileForm">
            <label for="fullName">Name:</label>
            <input type="text" id="fullName" name="fullName" placeholder="Name" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Email" required>

            <button type="submit">Save Changes</button>
        </form>
    </div>
    </div>
    
 <script>
    let profile_Pic = document.getElementById("profilePic");
    let inputFile = document.getElementById("input-file");

    //This function switch out place holder picture
    inputFile.onchange = function(){   
        profile_Pic.src = URL.createObjectURL(inputFile.files[0]);
    }

 </script>
 
                    


</body>
</html>