<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" type= "text/css" href="../static/css/profile.css">
   
</head>
<body>
    <div class="navbar">
        <a href="#home">Home</a>
        <a href="#result">Result</a>
        <a href="#Profile">Profile</a>
    

    <div class="login-container">
        <a href="#signou">Sign Out</a>
    </div>
    </div>
</body>
</html>