<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in </title>
    <link rel="stylesheet" type= "text/css" href="static/css/signUp.css">
   
</head>
<body>
    <div class="loginbox">
    <h1>Sign Up </h1>
    <p>Discover Love <br>Through Brain Waves</p>
    
      <form action= "/" method= "POST"> 
   
      <input type="text" placeholder="Name" name="uname" required>
      <br>  
    
      <input type="text" placeholder="Email" name="email" id="email" required>
      <br>
      <input type="submit" name ="" value="Sign Up" class="signupbtn"> </input>
     </form>
    </div>
</body>
</html>